@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    font-family: poppins;
}

body {
    background-color: #f8f9fe;
}

nav .navbar-nav {
    gap: 0px 10px;
}

nav ul li .nav-link {
    font-family: Poppins;
    font-size: 14px;
    color: #4f5665;
    font-weight: 500;
    line-height: 21px;
}
nav ul li .nav-link:hover {
    color: #8ea3f6;
}

nav .btn-masuk {
    color: #8ea3f6;
    text-decoration: none;
    border: 1px solid #8ea3f6;
    padding: 10px 50px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

#beranda {
    margin-top: 80px;
}
#beranda .row {
    padding: 100px 0px;
}
#beranda .title {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    color: #3e3e4a;
}
#beranda .subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
#beranda .btn-daftar {
    color: #fff;
    margin-top: 50px;
    background-color: #8ea3f6;
    padding: 10px 50px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

#tentang {
    background-color: #fff;
    padding: 80px 0px;
}
#tentang .title {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    color: #0b132a;
}
#tentang .subtitle {
    color: #7f7d7d;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
#tentang .keterangan {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: justify;
}
#tentang .isi p {
    color: #4f5665;
    font-size: 14px;
    font-weight: 400;
}

#paket {
    padding: 80px 0px;
}
#paket .title {
    color: #8ea3f6;
    margin: 0;
    font-size: 28px;
    font-weight: 600;
}
#paket .subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #7f7d7d;
}
#paket .btn-detail {
    color: #fff;
    margin-top: 40px;
    background-color: #8ea3f6;
    padding: 10px 50px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}
#paket .card{
    transition: transform 0.3s, box-shadow 0.3s;
}
#paket  .card:hover {
    transform: translateY(-10px); /* Atur nilai sesuai dengan keinginan Anda */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Atur nilai sesuai dengan keinginan Anda */
    border:1px solid #8ea3f6;
  }
#paket .card p {
    margin: 0;
}
#paket .card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}
#paket .card .jenis-paket {
    font-size: 16px;
    color: #4f5665;
    font-weight: 400;
    text-align: center;
}
#paket .card .harga-paket {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

#momen {
    background-color: #fff;
    padding: 80px 0px;
}
#momen .title {
    color: #0b132a;
    margin: 0;
    font-size: 28px;
    font-weight: 600;
}
#momen .subtitle {
    color: #7f7d7d;
    font-size: 16px;
    font-weight: 400;
}
#momen .carousel img {
    width: 500px;
    height: 360px;
    object-fit: cover;
}

#testimoni {
    padding: 80px 0px;
}
#testimoni .title {
    color: #8ea3f6;
    margin: 0;
    font-size: 28px;
    font-weight: 600;
}
#testimoni .subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #7f7d7d;
}
#testimoni .card {
    padding: 20px;
}
#testimoni .carousel .card {
    width: 400px;
    margin-right: 20px;
}
#testimoni .carousel .flickity-page-dots .dot {
    background-color: #8ea3f6;
}
#testimoni .carousel .previous svg .arrow {
    color: #8ea3f6;
}
#testimoni .carousel .next svg .arrow {
    color: #8ea3f6;
}
#testimoni .carousel img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
#testimoni .nama {
    color: #0b132a;
    font-size: 16px;
    font-weight: 600;
}
#testimoni .studio {
    color: #4f5665;
    font-size: 14px;
    font-weight: 400;
}

#footer {
    background-color: #fff;
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    padding: 40px 0px 10px 0px;
}
#footer .title {
    margin-bottom: 28px;
    font-size: 24px;
    font-weight: 600;
    color: #8ea3f6;
}
#footer a {
    text-decoration: none;
    color: #4f5665;
    transition: all ease-in-out 0.3s;
}
#footer a:hover {
    transition: all ease-in-out 0.3s;
    text-decoration: none;
    color: #8ea3f6;
}
#footer .copyright {
    color: #4f5665;
}

@media (max-width: 768px) {
    #beranda {
        margin-top: 0px;
    }
    #beranda img {
        width: 100%;
        margin-bottom: 10px;
    }
    #testimoni .carousel .carousel-cell .card {
        width: 100%;
    }
}
