@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    font-family: poppins;
}
nav {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
}
.navbar ul {
    gap: 10px;
}
.navbar ul li a {
    color: #4f5665;
    transition: all ease-in-out 0.4s;
}
.navbar ul li a:hover {
    transition: all ease-in-out 0.4s;
    color: #8ea3f6;
}
.signup {
    border: 1px solid #8ea3f6;
    color: #8ea3f6;
    padding: 13px 45px;
    border-radius: 50px;
    font-weight: 600;
    transition: all ease-in-out 0.3s;
}
.signup:hover {
    transition: all ease-in-out 0.3s;
    background-color: #7f93e0;
    color: #fff;
}
.main-content {
    padding-top: 120px;
}
#footer {
    background-color: #fff;
    color: #fff;
    /* box-shadow:0px 0px 10px rgba(0, 0, 0, 0.15); */
    padding: 40px 0px 10px 0px;
}
#footer .title {
    margin-bottom: 28px;
    font-size: 24px;
    font-weight: 600;
    color: #8ea3f6;
}
#footer a {
    text-decoration: none;
    color: #4f5665;
    transition: all ease-in-out 0.3s;
}
#footer a:hover {
    transition: all ease-in-out 0.3s;
    text-decoration: none;
    color: #8ea3f6;
}
#footer .copyright {
    color: #4f5665;
}

#home {
    margin: 70px 0px;
}
#home .hero .title {
    font-size: 36px;
    font-weight: 600;
    color: #2f383c;
    margin-bottom: 20px;
}
#home .hero .title span {
    display: block;
    color: #fd7262;
}
#home .hero .subtitle {
    margin-bottom: 40px;
    color: #3f3f3f;
}
#home .hero .input-group {
    background-color: #fff;
    border: 1px solid #f1f1f1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 55px;
}
#home input {
    border-radius: 55px 0px 0px 55px;
    border-outline: none;
    border: none;
    padding: 20px 0px 20px 40px;
}
#home .btn-cari {
    background-color: #8ea3f6;
    align-self: center;
    border-radius: 55px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 57px;
}
#home .btn-cari:hover {
    background-color: #7f93e0;
}
#home .jumlah {
    margin: 100px 0px;
}
#home .jumlah .card {
    border: none;
}
#home .jumlah img {
    width: 55px;
    height: 55px;
}
#home .jumlah .card p {
    margin: 0;
}
#home .jumlah .angka {
    color: #0b132a;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}
#home .jumlah .keterangan {
    color: #4f5665;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
#home .jumlah .bor {
    border-right: 2px solid #eeeff2;
}

.about .title {
    color: #0b132a;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
}
.about .subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #4f5665;
    line-height: 30px;
}
.about .layanan p {
    color: #4f5665;
    font-size: 14px;
    font-weight: 400;
    align-self: center;
}
.paket {
    background-color: #fbfbfb;
    margin: 80px 0px;
    padding: 80px 0px;
}
.paket .title {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 6px;
    color: #0b132a;
}
.paket .subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #4f5665;
}
