@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    font-family: poppins;
}
nav {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
}
.navbar ul {
    gap: 10px;
}
.navbar ul li a {
    color: #4f5665;
    transition: all ease-in-out 0.4s;
}
.navbar ul li a:hover {
    transition: all ease-in-out 0.4s;
    color: #8ea3f6;
}
.signup {
    border: 1px solid #8ea3f6;
    color: #8ea3f6;
    padding: 13px 45px;
    border-radius: 50px;
    font-weight: 600;
    transition: all ease-in-out 0.3s;
}
.signup:hover {
    transition: all ease-in-out 0.3s;
    background-color: #7f93e0;
    color: #fff;
}

/*#home {
    margin: 70px 0px;
}
#home .hero .title {
    font-size: 36px;
    font-weight: 600;
    color: #2f383c;
    margin-bottom: 20px;
}
#home .hero .title span {
    display: block;
    color: #fd7262;
}
#home .hero .subtitle {
    margin-bottom: 40px;
    color: #3f3f3f;
}
#home .hero .input-group {
    background-color: #fff;
    border: 1px solid #f1f1f1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 55px;
}
#home input {
    border-radius: 55px 0px 0px 55px;
    border-outline: none;
    border: none;
    padding: 20px 0px 20px 40px;
}
#home .btn-cari {
    background-color: #8ea3f6;
    align-self: center;
    border-radius: 55px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 57px;
}
#home .btn-cari:hover {
    background-color: #7f93e0;
}
#home .jumlah {
    margin: 100px 0px;
}
#home .jumlah .card {
    border: none;
}
#home .jumlah img {
    width: 55px;
    height: 55px;
}
#home .jumlah .card p {
    margin: 0;
}
#home .jumlah .angka {
    color: #0b132a;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}
#home .jumlah .keterangan {
    color: #4f5665;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
#home .jumlah .bor {
    border-right: 2px solid #eeeff2;
}

.about .title {
    color: #0b132a;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
}
.about .subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #4f5665;
    line-height: 30px;
}
.about .layanan p {
    color: #4f5665;
    font-size: 14px;
    font-weight: 400;
    align-self: center;
}
.paket {
    background-color: #fbfbfb;
    margin: 80px 0px;
    padding: 80px 0px;
}
.paket .title {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 6px;
    color: #0b132a;
}
.paket .subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #4f5665;
} */

/* content */
.main-content {
    padding-top: 66px;
}
.main-content .card-main {
    border: none;
    background-color: #fff;
    height: 100vh auto;
    padding: 30px 40px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
}
.main-content .title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    color: #4f5665;
}
.main-content .subtitle {
    font-size: 14px;
    font-weight: 400;
    color: #7f7d7d;
}

/* navbar */

.main-content .navbar {
    background: #8ea3f6;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px 30px 0px 0px;
    z-index: 0;
    padding: 14px 0px;
}
.main-content .navbar .nav-item {
    color: #fff;
    margin: 0px 20px;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}

.main-content .navbar .nav-item:hover {
    transition: all ease-in-out 0.3s;
    color: #374671;
}

.main-content .navbar .nav-item.active {
    color: #374671;
}

.main-content .navbar i {
    font-size: 30px;
}

.main-content .navbar p {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
}

/* form */
.main-content form label {
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    color: #738599;
}
.main-content .input-groups {
    display: flex;
    border: 1px solid #9fadbc;
    border-radius: 12px;
}
.main-content form .input-groups i {
    width: 24px;
    padding: 0px 18px;
    color: #9fadbc;
    align-self: center;
}
.main-content form input {
    border: none;
    border-radius: 12px;
    padding: 14px;
    width: 100%;
    font-size: 14px;
    color: #9fadbc;
    outline: none;
}
.main-content form input::placeholder {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    color: #9fadbc;
}
.main-content .btn-login {
    color: #fff;
    background-color: #8ea3f6;
    padding: 14px 80px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}

.main-content .text-daftar {
    text-align: center;
    color: #738599;
    margin-top: 8%;
}
.main-content .text-daftar a {
    color: #8ea3f6;
    font-weight: 600;
}
.main-content .btn-pilihan i {
    font-size: 14px;
    color: #4f5665;
    padding: 10px;
    font-weight: 400;
}
.main-content .btn-daftar {
    background-color: #8ea3f6;
    color: #fff;
    display: block;
    padding: 14px 0px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}
.main-content .btn:hover {
    border: 1px solid #8ea3f6;
    color: #8ea3f6;
}
.main-content footer {
    margin-bottom: 80px;
}
.main-content footer p {
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    margin-top: 50px;
    text-align: center;
}
.fixed-bottom .mobile {
    display: none;
}
.card-user {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 14px;
}
.title-paket {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin: 0;
    text-align: center;
    color: #8ea3f6;
}
.lihat {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-decoration: none;
    color: #8ea3f6;
}
.title-paket-foto {
    margin-top: 4px;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.harga-paket {
    margin: 7px 0px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}
.card-user .btn-detail {
    background-color: #8ea3f6;
    color: #fff;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

@media (max-width: 767.98px) {
    .main-content {
        contain: content;
    }
    .main-content .container {
        --bs-gutter-x: 0;
    }
    .main-content .card-main {
        padding: 20px 20px;
        border: none;
        background-color: #fff;
        box-shadow: none;
    }
    .main-content navbar {
        border-radius: 20px 20px 0px 0px;
        padding: 14px 0px;
    }
    .main-content .navbar .nav-item {
        margin: 0px 10px;
    }
    .main-content .navbar .nav-item:hover {
        transition: none;
        color: #374671;
    }
    .main-content .navbar .nav-item.active {
        color: #374671;
    }
    .main-content .navbar i {
        font-size: 20px;
    }

    .main-content .navbar p {
        font-size: 12px;
        font-weight: 500;
    }
    .fixed-bottom .container {
        display: none;
    }
    .fixed-bottom .mobile {
        display: block;
    }
}
